body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main {
    display: flex;
    flex: 1 0 0;
}

/* Estilos formulario loging */
#formulario-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    z-index: 1;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    padding: 15px;
    border: 1px solid #7a6f5d;
    cursor: pointer;
    width: 100%;
    background-color: #fdf2c5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.form-button:hover {
    background-color: #7a6f5d;
    border: 1px solid #fdf2c5;
    text-decoration: none;
    color: #82bfa0;
    font-weight: 700;
}